.Bottomnav {
    height: 57px;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color:white
}

.Bottomnav-ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    
    
}

.Bottomnav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
   
    padding: 0;  /* Ensure there is no padding */
    margin: 0;   /* Ensure there is no margin */
}

.Bottomnav-list li {
    flex: 1;
    text-align: center;
  
}

.bn-icon {
    font-size: 30px !important;
}
