.cat-wrapper-main{
    padding-left:10px;
    width:100%;
    margin:5px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: linear-gradient(180deg, #AAAEF2 6.24%, #ED6F78 100%);
    font-family: 'Reggae One', cursive!important;
    font-weight: 400;
}
.cat-main-top{
   font-size: 30px;
    width:100%;
    height: 200px;
    background-color: rgb(45, 44, 90);
    
    align-content: center;
    display: flex;
    justify-content: center;
    color: white;

}
.cat-desc-head{
    width: 100%;
    font-size: 25px;
    color: white;
}
.cat-desc{
    margin-top:20px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.cat-desc-item{
    width: 152px;
    height: 142px;
    box-shadow: 11px 7px 4px 0px #00000040;
  
    background-color: white;
}

.cat-main-about{
    color: white;
    margin-top:20px;
    width: 100%;
    height: 80px;
    background-color:rgb(250, 165, 165);
    
}