.cat-main-wrapper{
    width:90%;    
    height: 195px;
    align-items: center;
  
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
   
   
}

.cat-head{
    font-size: 25px;
    font-weight: 400;
    color: white;
}
.cat-slider-item{
    width:152px !important;
    height: 142px ;
    background-color: rgb(255, 255, 255);
  

}
.slick-arrow{
    background-color: black!important;
}
.slick-arrow:hover{
    
}
.slick-prev,
.slick-next {
  display: block !important;
  opacity: 1;
  z-index: 1000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;; /* Arrow background color */
}
.slick-dots{
    display: none!important;
}
