.stories-wrapper{
    margin-left: 20px;
    align-items: center;
    width:90%;
    
    
}
.slider-wrapper-item{
    background-color: aquamarine;
    width:200px;
    height: 200px;
    padding:20px;
    padding-bottom: 20px;

}
.slider-wrapper-img{
    height: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
    

}
.slick-prev, .slick-next {
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  
  .slick-prev:before, .slick-next:before {
    color: black; /* Change to desired color */
    font-size: 30px;
  }
  .slick-arrow {
    display: flex!important;
    background-color: black!important;

  }