.mp-wrapper-main {
    padding-left: 10px;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(180deg, #AAAEF2 6.24%, #ED6F78 100%);
    font-family: Reggae One;
    
    font-weight: 400;
    line-height: 36.2px;
    
    
}
  
  .mp-main-top {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .mp-cover {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mp-cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mp-username {
    position: absolute;
    bottom: 10px;
    left: 100px;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    align-self: center;
  }
  
  .mp-main-upload, .mp-main-slider, .mp-main-bottom {
    width: 100%;
    margin-top: 20px;
  }
  
  .mp-main-bottom-head {
    font-size: 25px;
    font-weight: 600;
    color: white;
  }
  
  .mp-main-bottom-desc {
    width: 100%;
    margin-top: 10px;
  }
  
  #mp-main-textbox {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    resize: none;
  }
  