.fr-main-wrapper{
    width:100%;    
    height: 350px;
    align-items: center;
   
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    font-family: 'Reggae One', cursive;
    font-weight: 400;
   
   
}

.fr-head{
    font-size: 25px;
    font-weight: 400;
    color: white;
}
.fr-slider-item{
    width:171px !important;
    height: 276px ;
    background-color:white;
    align-items: center;

}

.postImg{
    width:171px !important;
    height: 276px ;
    
}
.slick-arrow{
    background-color: black!important;
}
.slick-arrow:hover{
    
}
.slick-prev,
.slick-next {
  display: block !important;
  opacity: 1;
  z-index: 1000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;; /* Arrow background color */
}
.slick-dots{
    display: none!important;
}
/* .slick-slider{
    margin-top:20px;
    align-self: center!important;
    background-color: aquamarine;
} */