.Home-wrapper{
    margin-bottom: 100px;
   
    display: flex;
    flex-direction: column;
    
}
.main-page{
    background: linear-gradient(175.74deg, #AAAEF2 0.67%, #ED6F78 97.57%);
    gap:50px;
    display: flex;
    flex-direction: column;
}
.FashionReels-wrapper{
    width:100%;
    align-items: center;

}
.main-wrapper{
    width:100%;
}
.TopInfluencer-wrapper{
    width:100%;
}
.FashionEvents-wrapper{
    width:100%;
}
.Categories-wrapper{
    width:100%;
}
.slick-slider{
    width:90%;
}