.search-panel{
    margin-top: 15px;
   width: 100%;
   display:flex;
   justify-content: center;
}
.searchbar{
    width:60%;
    height:30px;
    color: #FFF8F8;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #FFF8F8; ;
    justify-content: flex-end;
    
}.searchIcon{
    font-size: 25px !important;
    margin-right:10px ;
}
.searchInput{
    color: #FFF8F8;
    margin-top: 2px;
    border: none;
    width: 70%;
    margin-left: 10px;
}
.searchInput:focus{
    outline: none;
}